.profile__layout {
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-rows: 50px 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  height: 100vh;
}

.profile__header {
  grid-area: 1 / 1 / 2 / 3;
}

.profile__header button svg {
    margin-top: 3px;
}

.profile__sidebar {
  grid-area: 2 / 1 / 3 / 2;
}

.profile__body {
  grid-area: 2 / 2 / 3 / 3;
}
