@import url('https://fonts.cdnfonts.com/css/bender');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Bender', sans-serif;
  background-color: #1e1e1e;
  background-size: cover;
  height: fit-content;
  background-repeat: no-repeat;
}

.bg-eft {
  background-color: #9a8866;
}

.text-eft {
  color: #9a8866;
}

.border-eft {
  border-color: #9a8866;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #9a8866 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9a8866;
    border-radius: 10px;
    border: 3px solid #9a8866;
  }