.parent {
    display: grid;
    grid-template-columns: 300px repeat(4, 1fr);
    grid-template-rows: auto repeat(3, 1fr) auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.top { grid-area: 1 / 2 / 2 / 6; }
.sidebar { grid-area: 2 / 1 / 6 / 2; }
.map { grid-area: 2 / 2 / 5 / 6; }
.timeline { grid-area: 5 / 2 / 6 / 6; }

#leaflet-map {
    width: 100%!important;
    height: 100%!important;
    overflow: hidden;
}

.leaflet-tile-pane {
    background-repeat: no-repeat;
    background-size: cover;
}

.uiHidden {
    display: none;
}

.map-wrapper {
    width: 100%;
    height: 80vh;
}

.leaflet-image-layer {
    filter: grayscale(1) sepia(1) brightness(0.8);
}

.leaflet-container {
    background: black;
}

.map-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.map-container > div {
    padding: 13px 38px;
}

.leaflet-control-coordinates {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 4px;
    color: #9a8866;
}

.dev__time_sliders {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    user-select: none;
}

.player-slider {
    width: 5px;
    height: 48px;
    position: absolute;
    background: #9a8866;
    cursor: ew-resize;
}

.shelf-slider {
    position: absolute;
    width: 2px;
    height: 48px;
    background: #9a88666e;
    cursor: auto;
}

.event-marker {
    width: 2px;
    height: 56px;
    position: absolute;
    top: -8px;
    background: #ff5b5b6e;
    cursor: auto;
}

.event-marker::after {
    content: '☠️';
    position: relative;
    left: -15px;
    background: #ff5b5b6e;
    top: -25px;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}

.timeline-container {
    height: 48px;
    user-select: none;
}

.tooltip.event {
    position: absolute;
}

.tooltip.info {
    position: relative;
}

.tooltip {
    display: inline-block;
  }

  .tooltiptext.event {
    min-width: 150px;
    transform: translate(-45%, -23px);
    font-size: 12px;
    z-index: 99999;
  }

  .tooltiptext.event.event-map {
    transform: translate(-38%, 0px);
  }

  .tooltiptext.info {
    width: 250px;
    transform: translate(-55%);
  }  

  .tooltip .tooltiptext {
    visibility: hidden;
    height: fit-content;
    bottom: 0px;
    text-align: center;
    background-color: #9a8866;
    color: black;
    border-radius: 6px;
    padding: 4px;
    transform-origin: center bottom;
  
    /* Position the tooltip */
    position: absolute;
    bottom: 115%;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


  .killer-icon {
    position: absolute;
    left: -15px;
    top: -13px;
  }

  .killer-icon img {
    transform: rotate(45deg);
  }

  .death-icon {
    font-size: 20px;
    left: -7px;
    top: -5px;
  }

  .kill-stream {
    position: absolute;
    bottom: 222px;
    left: 355px;
    padding: 4px 8px;
    width: 450px;
    z-index: 9999;
    height: 110px;
    background: #00000094;
  }

  .player-legend-item:hover {
    color: black;
    background-color: #9a8866;
    cursor: pointer;
  }

  .player-legend-item:hover * {
    opacity: 1;
  }

  .kill-stream .event:first-child {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
  }

    @-webkit-keyframes slide-in-top {
        0% {
        -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
        opacity: 0;
        }
        100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
        }
    }

    @keyframes slide-in-top {
        0% {
        -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
        opacity: 0;
        }
        100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
        }
    }
  

  .kill-stream .text-eft:nth-of-type(2) {
      opacity: 0.75;
  }

  .kill-stream .text-eft:nth-of-type(3) {
      opacity: 0.5;
  }

  .kill-stream .text-eft:nth-of-type(4) {
    opacity: 0.25;
  }