.home__profile-card {
    width: 500px;
    height: 125px;
}

.home__profile-card-image {
    width: 111px;
}

#notification {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 16px;
    background: #000000a8;
    display: grid;
    place-content: center;
}

.home-message {
    max-width: 500px;
}

.profile-collector {
    grid-template-columns: repeat(2, 1fr);
    overflow-x: auto;
    max-height: 800px;
}