.global-spinner-container {
    z-index: 999999;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.90);
    display: grid;
    place-content: center;
    font-size: 24px;
}

.global-spinner-container div {
    position: relative;
    z-index: 999999;
}

.dot {
    animation: blink 1.5s infinite both;
}

.dot:nth-child(2) {
    animation-delay: 0.5s;
}

.dot:nth-child(3) {
    animation-delay: 1s;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}