tbody tr:nth-child(even) {
    background-color: #9a88661c;
}

#raid-table tbody tr td:nth-of-type(2) {
    width: 100px;
}

#raid-table tbody tr td:nth-of-type(6) {
    width: 200px;
}

#raid-table tbody tr td:nth-of-type(7) {
    width: 100px;
}

#raid-overview tbody tr td:nth-of-type(1) {
    width: 200px;
}

#raid-leaderboard tbody tr td:nth-of-type(1), #raid-leaderboard tbody tr td:nth-of-type(2), #raid-leaderboard tbody tr td:nth-of-type(3),
#raid-leaderboard tbody tr td:nth-of-type(6), #raid-leaderboard tbody tr td:nth-of-type(7), #raid-leaderboard tbody tr td:nth-of-type(8) {
    width: 50px;
}

#raid-leaderboard tbody tr td:nth-of-type(9) {
    width: 105px;
}

#raid-overview input[type="checkbox"] {
    border: 1px solid black;
    background-color: black;
}

.raid-timeline li {
    list-style: none;
}